

@import url('https://fonts.cdnfonts.com/css/canela-deck');

@tailwind base;
@tailwind components;
@tailwind utilities;



 .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #52520a #f6f6f3;
  }
  
  .scrollbar-custom::-webkit-scrollbar {
    height: 2px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 3px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 3px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
  }

  @keyframes shine {
    0% {
      transform: translateX(-100%) rotate(45deg);
    }
    100% {
      transform: translateX(100%) rotate(45deg);
    }
  }
  
  .animate-shine {
    animation: shine 2s ease-in-out infinite;
  }

  .canela-font {
    font-family: 'Canela Deck', serif;
  }